#gamePane{
    -fx-background-image: url("holzHintergrund.jpeg");
    -fx-background-repeat: stretch;
    -fx-background-size: 920 450;
    -fx-background-position: center center;
    -fx-background-opacity:0.1;

}
